.sidebar {
  width: 100%;
  padding: 22px 0;
  box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.1);

  @include mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    background: $white;
    margin-left: -100vw;
    transition: margin 0.3s ease;
    &.is-open {
      margin-left: 0;
    }
  }

  &__back-button {
    margin: 22px 40px;
    padding: 0;
    background: none;
    border: none;
    display: none;
    @include mobile {
      display: block;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 40px;

    @include desktop {
      display: none;
    }

    &__label {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      &__title {
        font-size: 18px;
      }

      &__subtitle {
        margin-top: 4px;
        font-size: 12px;
        color: #aaaaaa;
      }
    }
  }

  &__section {
    padding: 22px 40px;
    border-bottom: 1px solid #eeeeee;
    &:last-of-type {
      border-bottom: none;
    }
  }

  &__title {
    font-size: 14px;
    margin: 24px 0;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;

    & a {
      font-size: 14px;
      color: $black;
      text-decoration: none;
      &.active {
        color: $green;
      }
    }
    & span {
      font-size: 12px;
      color: #aaaaaa;
      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 20px;
        background-color: $green;
        border-radius: 10px;
        color: $white;
        margin-right: -8px;
      }
    }
  }
}
